
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: wpa_frontend
    ports:
      - "8082:80"
    volumes:
      - ./frontend/config.yaml:/usr/share/nginx/html/config.yaml
  backend:
    build: ./backend
    ports:
      - "8000:8000"
